<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>{Feature Name}</title>
</head>
<style>
    body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 1rem;
    padding: 0;
}

.example{
    height: 50%;
    width: 50%;
}


.step p{
    padding: 2vh 20vw 2vh 0;
}
</style>
<body>
    <header>
        <h1>Feature Name</h1>
    </header>
    <main>
        <div class="features">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod possimus alias velit laudantium pariatur. Omnis sed quasi ut vero possimus magnam voluptatum nostrum quae minus, deserunt, non, neque quidem itaque!</p>
        </div>
        <div class="use-cases">
            <h2>Use Cases</h2>
            <ol>
                <li>Use Case 1</li>
                <li>Use Case 2</li>
                <li>Use Case 3</li>
            </ol>
        </div>
        <div class="fixing">
            <h2>How did we fix the bug?</h2>
            <ol>
                <li>
                    <h4>Desc of step</h4>
                    <div class="step">
                        <img class="example" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nulla perferendis, quaerat consectetur beatae vero aspernatur magni voluptatibus temporibus molestiae eligendi illum, ex atque eaque iusto. Id consequuntur asperiores fuga.</p>
                    </div>
                </li>
                <li>
                    <h4>Desc of step</h4>
                    <div class="step">
                        <img class="example" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nulla perferendis, quaerat consectetur beatae vero aspernatur magni voluptatibus temporibus molestiae eligendi illum, ex atque eaque iusto. Id consequuntur asperiores fuga.</p>
                    </div>
                </li>
                <li>
                    <h2>Desc of step</h2>
                    <div class="step">
                        <img class="example" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nulla perferendis, quaerat consectetur beatae vero aspernatur magni voluptatibus temporibus molestiae eligendi illum, ex atque eaque iusto. Id consequuntur asperiores fuga.</p>
                    </div>
                </li>
            </ol>
        </div>
</body>
</html>